In [41]:
import requests
from IPython.display import Image, display
import pandas as pd

# My API key
api_key = '3rKTrLjNIMrpWPVDWkF25dOKftRab89RJ7IMOwBX'

# Define the API endpoint for APOD
apod_url = f'https://api.nasa.gov/planetary/apod?api_key={api_key}'

# Make the API request
response = requests.get(apod_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Convert the response to JSON format
    apod_data = response.json()

    # Print the title and explanation of the APOD
    print(f'Title: {apod_data["title"]}')
    print(f'Explanation: {apod_data["explanation"]}')

    # Display the image
    display(Image(url=apod_data["url"]))
else:
    print(f'Error: {response.status_code}')

Title: Daytime Moon Meets Morning Star
Explanation: Venus now appears as Earth's brilliant morning star, shining above the southeastern horizon before dawn. For early morning risers, the silvery celestial beacon rose predawn in a close pairing with a waning crescent Moon on Thursday, November 9. But from some northern locations, the Moon was seen to occult or pass in front of Venus. From much of Europe, the lunar occultation could be viewed in daylight skies. This time series composite follows the daytime approach of Moon and morning star in blue skies from Warsaw, Poland. The progression of eight sharp telescopic snapshots, made between 10:56am and 10:58am local time, runs from left to right, when Venus winked out behind the bright lunar limb.

In [42]:
# Define the API endpoint for Asteroids
Asteroids_url = f'https://api.nasa.gov/neo/rest/v1/feed?start_date=2023-09-07&end_date=2023-09-08&api_key={api_key}'

# Make the API request
response = requests.get(Asteroids_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Convert the response to JSON format
    Asteroids_data = response.json()

    # Create a pandas DataFrame
    df_asteroids = pd.DataFrame(Asteroids_data['near_earth_objects']['2023-09-07'])
    
else:
    print(f'Error: {response.status_code}')

In [38]:
# Drop some columns
columns_to_drop = ['links', 'neo_reference_id', 'nasa_jpl_url', 'is_potentially_hazardous_asteroid', 'close_approach_data', 'is_sentry_object']
df_asteroids = df_asteroids.drop(columns=columns_to_drop, errors='ignore')

# Select and rename columns
asteroids_df_clean = df_asteroids[['id', 'name', 'estimated_diameter', 'absolute_magnitude_h']].copy()
asteroids_df_clean.columns = ['Asteroid ID', 'Asteroid name', 'Minimal estimated diameter in Kilometre', 'Absolute_magnitude']

In [39]:
asteroids_df_clean

,Asteroid ID,Asteroid name,Minimal estimated diameter in Kilometre,Absolute_magnitude
0,2416151,416151 (2002 RQ25),{'kilometers': {'estimated_diameter_min': 0.19...,20.68
1,2523685,523685 (2014 DN112),{'kilometers': {'estimated_diameter_min': 0.26...,20.04
2,2523950,523950 (1998 SZ27),{'kilometers': {'estimated_diameter_min': 0.23...,20.30
3,3309828,(2005 YQ96),{'kilometers': {'estimated_diameter_min': 0.19...,20.62
4,3338034,(2006 QE),{'kilometers': {'estimated_diameter_min': 0.30...,19.72
5,3695919,(2014 VG2),{'kilometers': {'estimated_diameter_min': 0.07...,22.72
6,3730580,(2015 TY237),{'kilometers': {'estimated_diameter_min': 0.12...,21.58
7,3735467,(2015 WX1),{'kilometers': {'estimated_diameter_min': 0.05...,23.45
8,3838859,(2019 DJ1),{'kilometers': {'estimated_diameter_min': 0.01...,26.80
9,2613286,613286 (2005 YQ96),{'kilometers': {'estimated_diameter_min': 0.19...,20.62
10,54297618,(2022 QK4),{'kilometers': {'estimated_diameter_min': 0.04...,23.79
11,54356031,(2023 HT3),{'kilometers': {'estimated_diameter_min': 0.04...,24.05

In [44]:
# Extract necessary information
speed_info = Asteroids_data.get("speed_info", None)  # Replace with the actual key

# Check if the information is available
if speed_info is not None:
    # Assuming speed_info is a dictionary with relevant keys
    relative_velocity_km_s = speed_info.get("velocity", 0)  # Replace with the actual key

    # Add the new column to the DataFrame
    print("Relative velocity information not found.")
    asteroids_df_clean['Relative_velocity(km/s)'] = relative_velocity_km_s
else:
    # Handle the case where the information is not available
    print("Relative velocity information not found.")

Relative velocity information not found.

In [45]:
# Export the clean DataFrame to CSV
asteroids_df_clean.to_csv('API to Pandas Dataframe checkpoint.csv', index=False)